@import '../../../containers/Layout/Layout.css';



.Toolbar {
    height: var(--layout-navbar-height-desktop);
    width: 100%;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    background-color: var(--theme-color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 95%;
    cursor: pointer;
}

@media (max-width: 499px) {  /* Mobile */
    
    .DesktopOnly {
        display: none;
    }
    .Toolbar {
        bottom: 0;
        top: auto;
        height: var(--layout-navbar-height-mobile);
        /* Mobile should be different */
    }
}