.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 95%;
}

@media (max-width: 499px) {
    /* Mobile */
    .DesktopOnly {
        display: none;
    }
    .Toolbar {
        bottom: 0;
        top: auto;
        height: 56px;
        /* Mobile should be different */
    }
}