.Content {
    /* Mobile */
    margin-top: 0px;
    margin-bottom: var(--layout-navbar-height-mobile);
    height: calc(100% - var(--layout-navbar-height-mobile));
    position: absolute;
    width: 100%;
}

@media (min-width: 500px) {
    .Content {
        margin-top: var(--layout-navbar-height-desktop);
        margin-bottom: 0px;
        height: calc(100% - var(--layout-navbar-height-desktop))
    }
}

:root {
    /* Colors */
    --theme-color-main: #4CAF50;
    --theme-color-background: #111;
    --theme-color-highlighted: #333;
    --theme-color-selected: #fff;
    /* Layout dimensions */
    --layout-navbar-height-desktop: 95px;
    --layout-navbar-height-mobile: 56px;
}